[Unit]
Description=Shield Home - Daemon de Monitoramento e Isolamento do SSD
After=mnt-hd_novo.mount

[Service]
Type=simple
ExecStart=/mnt/hd_novo/toolbox/scripts/homeshield_daemon.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/cesardraw/.Xauthority

[Install]
WantedBy=default.target
